<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<>
<div class="container">
    <h1>My First Bootstrap Page</h1>

    <table class="table table-hover">
        <tr>
            <td>Java</td>
            <td>Scala</td>
        </tr>
        <tr>
            <td>Gosling</td>
            <td>Odersky</td>
        </tr>
        <tr>
            <td>JVM</td>
            <td>JVM,.NET</td>
        </tr>
    </table>

</div>
</body>
<script>

</script>
